/*! media -----> width:1200px; */

@media only screen and (max-width:75em){
  .slider__details-main{
    width: 100%;
    justify-content: center;
  }
  .slider__details-logo{
    display:none;
  }
  .popular,.movie__content-info,.education__content,.kids__content,.cinema__content,.comments,.questions__content,.details__content,.header__media{
    width: 90%;
  }
 
  .movie__content-film{
    width: 24%;
  }
 
  
  .education__img{
    max-width: 44%;
  height: 86%; 
  object-fit:cover;
  position: absolute;
  margin: 0 auto;
  left: 0;
  top: 0;
  padding: 2em;
  }
  .freevid{
    width: 90%;
    overflow: auto;
  }
  .freevid__content{
    width: max-content;
  }
  .freevid__content-item{
  width: 40%;
  margin-left: 1rem;
  }
  .comments-content{
    width: 100%;
  }
  .comments__content-item{
    width: 32%;
    height: max-content;
  }
  .footer__content-subitems{
    width: max-content;
    padding: 0.8rem;
    background-color: transparent;
    box-shadow: none;
    position: static;
    display: flex;
    visibility: visible;
    opacity: 1;
    transform: none;
  }
  .footer__content-link-none{
    display:none;
  }
  }
 


/*! media -----> width:992px; */
@media only screen and (max-width:62em){
  html{
    font-size: 50%;}
    .popular,.movie__content-info{
      width: 90%;
    }
  .popular__content{
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .education__img{
    display: none;
  }
  .education__content{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
  }
  #header1{
    position: fixed;
    z-index: 11;
  }
  .comments-content{
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/*! media -----> width:768px; */
@media  only screen and (max-width:48em){
  html{
    font-size: 48%;
  }
.header__content-hamburger{
  display: flex;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;

}
  #Hamburger{
    display: flex;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
  }
  .slider__details-title--white{
    font-size: 3rem;
  }
  .movie__content--discreption,.movie__discreption--text-1{
    width: 100%;
  } 
  .movie__content--items{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
  .header__left-basket{
    width:15rem;
  }
  .popular__title,.education__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .education__content-details{
    color: #d5d5d5;
  font-size: 1.4rem;
  line-height: 3.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  }
  .cinema__content{
    padding: 0;
  }
  .cinema__content-items{
    display: none;
  }
  .details__content-items{
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  .footer__content{
    flex-direction: column;
    gap: 0.5rem;
  }
  .hedaer-media-right{
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100rem;
  background-color: #151515;
  padding:4rem;
  }
  .hedaer-media-image{
  width: 90%;
  height: 95%;
  padding: 2rem 0;
  }
  .header__item-line{
  width: 95%;
  height: 1rem;
  background-color: #fff;
  margin-right: 1rem;
  }
  .headeritem{
    height: auto;
    width: auto;
  }
  .header__item--logo{
    font-size: 2.2rem;
    margin-left: 0.3rem;

  }
  .headeritem__class{
    font-size: 3rem;
  margin-right: 0.2rem;
  }
  .header__media-right-box{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:4rem;
  }
  .slider__item-icon{
    font-size: 2rem;
  }
  #CLOSE{
    width: 3.3rem;
    color: red;
    border-radius: 5rem;
    border: solid red 0.2rem;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    margin: 2rem;
    cursor: pointer;
  }
 .header__item-close-icon{
  font-size: 2em;
 }
}


/*! media -----> width:576px; */
@media only screen and (max-width:36em){
  html{
    font-size: 36%;
  }
  .slider__details-items,.slider__details-gift,.movie__content--discreption-logo{
    display: none;
  }
  .slider__details-head--oeange{
    justify-content: flex-end;
  }
  .movie__content--items{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
  }
  .movie__content-film{
    width:26rem;
  }
  .movie__bg{
    background: none;
  }
  
  .slider__details-title--white{
    font-size: 2.9rem;
    margin: 0.5rem;
  }
  .slider__details-head--oeange{
    font-size: 1.9rem;
  }
  .slider__image-pic{
    filter: brightness(74%);
  }
  .slider__details{
    height: 27rem;
  }
  .device{
    flex-direction: column;
  }
  .device__content-left{
    width: 100%;
    height: 100%;
  }
  .device__content-right{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .kids__content-image{
    display: none;
  }
  .kids__content-items{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 6rem;
  }
  .cinema__item{
    width: 100%;
  }
  .cinema__item-content{
    width: 70%;
  }
  .cinema__item-image{
    width: 30%;
    height: 100%;
  }
  .cinema__content-totalbuytick{
    width: 100%;
  }
  .comments__head-title{
    display: none;
  }
  .comments__head{
    justify-content: center;
  }
  .comments-content{
    display: block;
  }
  .comments__content-item{
    width: 100%;
  }
  .details__content-items{
    display: block;
  }
  .details__content-item{
    margin-bottom: 1rem;
  }
  .footer__content-link{
    font-size: 1rem;
  }
  /* .header-media-left {
    display: none;
  } */
  /* .header__left-basket,.signin{
    display: none;
  } */
  .header__left-basket,.signin{
    display: none;
  }
  .header-media-left{
    width: 9rem;
  }
  .header__icon-responsiv{
    display: flex;
  }
  .hedaer-media-right{
    width: 80vw;
  }
}
/*! media -----> width:310px; */
@media only screen and (max-width:19em){
  html{
    font-size: 31%;
  }
}